body{
  background-color: #495E57;
  font-family: "Karla";
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 5%;
  margin-right: 5%;
}

h1{
  font-size: 3rem;
  font-family: 'Markazi Text';
}
h2{
  font-size: 2rem;
  font-family: 'Markazi Text';
}
h3{
  font-size: 1rem;
  font-family: 'Markazi Text';
}
nav {
  background-color: #EDFFEE;
  font-family: 'Markazi Text';
  margin-top: 2rem;
  padding: 0.5rem 2rem;
  border-radius: 30px;
}

nav img {
  width: 250px;
  object-fit: scale-down
}

nav li{
  display: inline-block;
  margin: 0 15px;
}
nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
nav a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  font-size: 2.5rem;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}
nav a:hover {
  background-color: #333333;
  color: #FBDABB;
}
section{
  display: flex;
}
article{
  flex: 1;
}
footer{
  display: flex;
  background-color: #333333;
  font-family: "Karla";
  margin-top: 2rem;
  padding: 0.5rem 2rem;
  border-radius: 30px;
}
footer img {
  width: 200px;
  height: 200px;
  object-fit: scale-down
}
footer div{
  flex: 1;
}